/* -------------------------------------------------------------------
  BASE
---------------------------------------------------------------------- */

body {
  background-color: #14051a;
  color: #657b83;
  font-family: "Iosevka", monospace;
  font-size: 15px;
}

h3 {
  display: inline;
  padding-bottom: 5px;
  font-size: 1em;
}

a, a:visited {
  display: block;
  padding-top: 2px;
  color: #49bbfb;
  text-decoration: none;
}
a:hover { color: #cb1ed1; }

/* -------------------------------------------------------------------
  COLORS
---------------------------------------------------------------------- */

.blue     { color: #087DC0; }
.green    { color: #79e513; }
.orange   { color: #b3d5da; }
.pink	  { color: #847BE4; }

/* -------------------------------------------------------------------
  LAYOUT
---------------------------------------------------------------------- */

#container {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 700px;
}

#searchbox {
  margin: 4px;
  padding: 8px;
  border: 5px solid #14051a;
  box-shadow: 1px 1px 10px 0px #000;
}

#links {
  display: -webkit-box;
}

.box {
  -moz-box-flex: 1;
  margin: 4px;
  padding: 8px;
  border: 5px solid #14051a;
  box-shadow: 1px 1px 10px 0px #000;
}

/* -------------------------------------------------------------------
  SEARCH
---------------------------------------------------------------------- */

form {
  display: inline;
}

input 	{
  width: 64%;
  background: none;
  border: none;
  color: #0dcdcd;
}
